<!--
<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/color.css">
<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/demo/demo.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
<script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
-->

<div>
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <select id="radius" class="form-control">
      <option value='1'>Within 1 Mile</option>
      <option value='3'>Within 3 Miles</option>
      <option value='5' selected>Within 5 Miles</option>
      <option value='10'>Within 10 Miles</option>
    </select>
    <%= raw ddmaker "gender", "Gender", 2, "gender_pairs" %>
    <%= raw ddmaker "age", "Age", 2, "age_pairs" %>
    <%= raw ddmaker "occupation", "Occupation", 2, "occupation_pairs" %>
    <%= raw ddmaker "ethnicity", "Ethnicity", 1, "ethnicity_options" %>
    <%= raw ddmaker "language", "Language", 2, "language_pairs" %>
    <%= raw ddmaker "religion", "Religion", 2, "religion_pairs" %>
    <%= raw ddmaker "politics", "Politics", 2, "politics_pairs" %>
    <%= raw ddmaker "education", "Education", 2, "education_pairs" %>
    <%= raw ddmaker "curr_home_value", "Current Home Value", 2, "home_value_pairs" %>
    <%= raw ddmaker "sports", "Sports", 1, "sports_options" %>
    <!--
    <%= raw ddmaker "median_home_value", "Median Home Value", 2, "home_value_pairs" %>
    <%= raw ddmaker "contribute", "Contribute To", 1, "contribute_options" %>
    <%= raw ddmaker "collector", "Collector Of", 1, "collector_options" %>
    -->
    <input type="button" class="btn btn-default" onclick="respond()" value="Update">
  </div>
</form>
</div>
<div id="mapid" class="mapclass" style="height:90%"></div></div>

<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
<script>

  function update() {
  }

  function respond() {

      //var addr = "/backroom/search";
      var addr = "http://172.20.48.178/people/search_people";

      $.get(addr,
      {
        lat: window.myLat,
        lon: window.myLng,
        radius: $("#radius").val(),
        gender: $("#gender").val(),
        occupation: $("occupation").val(),
        ethnicity: $("#ethnicity").val(),
        education: $("#education").val(),
        language: $("#language").val(),
        religion: $("#religion").val(),
        politics: $("#politics").val(),
        age: $("#age").val(),
        curr_home_value: $("#curr_home_value").val(),
        //median_home_value: $("#median_home_value").val(),
        sports: $("#sports").val()
        //contribution: $("#contribution").val(),
        //collector: $("#collector").val()
      },
      function(data, status) {
        //alert(data);
        //var manualData = '[{"last_name":"alleruzzo","first_name":"meredith","middle_initial":"m","full_address":"410 N Euclid Ave, Apt 11","city":"Pasadena","state":"CA","zip":"91101","dob":"19491129","phone":"6265777846","gender":"F","marital_status":"S","camping_or_hiking":"1","cur_home_value":"425","home_owner":"Y","education":"College Degree","ethnicity":"Caucasian","occupation":"Health Services","snow_skiing":"1","income":"$60k - $70k","fitness":"1","tennis":"1","language":"English","politics":"Democrat","religion":"Catholic","walking":"1","pin_lat":"34.153038","pin_lon":"-118.142548"},{"last_name":"leggitt","first_name":"mary","middle_initial":"t","full_address":"700 S Euclid Ave","city":"Pasadena","state":"CA","zip":"91106","dob":"19420918","gender":"F","marital_status":"M","cur_home_value":"705","home_owner":"Y","education":"Some College","ethnicity":"Caucasian","occupation":null,"income":"$100k - $150k","golf":"1","hunting":"1","language":"English","politics":"Republican","religion":"Protestant","pin_lat":"34.13363","pin_lon":"-118.142379"},{"last_name":"richardson","first_name":"greg","middle_initial":"d","full_address":"812 S Marengo Ave, Apt 4","city":"Pasadena","state":"CA","zip":"91106","dob":"19551222","gender":"M","marital_status":"M","cur_home_value":"625","home_owner":"Y","education":"College Degree","ethnicity":"Caucasian","income":"$100k - $150k","language":"English","politics":"Independent","religion":"Protestant","pin_lat":"34.131863","pin_lon":"-118.14538"},{"last_name":"faltisco","first_name":"robert","middle_initial":"m","full_address":"474 Miles St","city":"Pasadena","state":"CA","zip":"91106","dob":"19640628","gender":"M","marital_status":"S","cur_home_value":"875","home_owner":"Y","ethnicity":"Caucasian","income":"$150k - $175k","language":"English","religion":"Catholic","pin_lat":"34.133686","pin_lon":"-118.140426"},{"last_name":"shao","first_name":"peter","middle_initial":"v","full_address":"111 S De Lacey Ave, Unit 301","city":"Pasadena","state":"CA","zip":"91105","dob":"19460702","gender":"M","marital_status":"M","cur_home_value":"609","home_owner":"P","education":"Some College","ethnicity":"Asian","occupation":null,"income":"$70k - $80k","language":"English","politics":"Democrat","religion":"Buddhist","pin_lat":"34.14423","pin_lon":"-118.15275"}]';

        var results = JSON.parse(data);
        //window.radius = result['radius'];
        //alert(rad)
        //window.mymap.removeLayer(window.perimeter);
        window.radius = $("#radius").val();
        redrawPerimeter(window.radius);
        //window.mymap.setZoom(radZoomLookup(rad));
        window.mymap.setView(new L.LatLng(window.myLat, window.myLng), radZoomLookup[window.radius]);

        //var pins = result['pins'];
        //var pin_lat = result['pin_lat'];
        //var pin_lon = result['pin_lon'];
        clearMarkers();
        setMarkers(results);

      }
    );

  } // end update

  function clearMarkers() {
    for (var i = 0; i < window.markers.length; i++) {
      window.mymap.removeLayer(window.markers[i]);
    }
    window.markers = [];
  }

  function setMarkers(thePins) {
    for (var i = 0; i < thePins.length; i++) {
      var pin = thePins[i];
      var name = pin.first_name + ' ' + pin.last_name;
      var marcker = L.marker([pin.pin_lat, pin.pin_lon]).addTo(window.mymap)
          .bindPopup("<b>" + name + "</b><br>");
        window.markers.push(marcker);
    }
  }

  function recenter(lat, lng) {
    window.myLat = lat;
    window.myLng = lng;
    window.mymap.panTo(new L.LatLng(lat, lng));
    redrawPerimeter(window.radius);
  }

  function drawPerimeter(r) {
    window.perimeter = L.circle([myLat, myLng], milesToMeters(r), {
      color: '#aa0000',
      fillColor: '#f03',
      fillOpacity: 0.07
    })
    window.perimeter.addTo(mymap);
  }

  function redrawPerimeter(r) {
    window.mymap.removeLayer(window.perimeter);
    drawPerimeter(r);
  }

  function setZoomFactor(z) {
    window.mymap.setView([myLat, myLng], z);
  }

  function milesToMeters(miles) {
    return miles * 1609.34;
  }

  var radZoomLookup = {
    1: 14,
    3: 13,
    5: 12,
    10: 11
  };

  var genderLookup = {
    'M': 'Male',
    'F': 'Female'
  }

  function findZoom(r) {
    var z = 12;
    if (r == 1) {
      z = 14;
    } else if (r == 3) {
      z = 13;
    } else if (r == 5) {
      z = 12;
    } else if (r == 10) {
      z = 11;
    }
    return z;
  }

  window.markers = [];
  window.radius = $("#radius").val();
  window.zoom = radZoomLookup[window.radius];

  window.myLat = 34.142750;
  window.myLng = -118.141953;
  window.mymap = L.map('mapid').setView([window.myLat, window.myLng], window.zoom);
  window.mymap.doubleClickZoom.disable();

  // public example: pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw
  // public
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoid2Vic2hhbyIsImEiOiJjaXRubnR3OXUwNTlkMm5uMGFsb2p2eTYwIn0.obrOXE4ca0517hY61rJA7Q', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
      '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
      'Imagery © <a href="http://mapbox.com">Mapbox</a>',
    id: 'mapbox.streets'
  }).addTo(window.mymap);

  drawPerimeter(window.radius);

  /*
  L.marker([window.myLat, window.myLng]).addTo(window.mymap)
    .bindPopup("<b>Hello world!</b><br />I am a popup.").openPopup();

  L.polygon([
    [51.509, -0.08],
    [51.503, -0.06],
    [51.51, -0.047]
  ]).addTo(mymap).bindPopup("I am a polygon.");
*/

  var popup = L.popup();

  function balloon(e) {
    popup
      .setLatLng(e.latlng)
      .setContent("You clicked the map at " + e.latlng.toString())
      .openOn(window.mymap);
  }

  function onMapClick(e) {
    //balloon(e);
  }

  function onMapDblClick(e) {
    recenter(e.latlng.lat, e.latlng.lng);
  }

  //mymap.on('click', onMapClick);
  mymap.on('dblclick', onMapDblClick);

</script>
