<!--
<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/color.css">
<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/demo/demo.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
<script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
-->

<div>
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <!--
    <input id='radius' class='easyui-combobox' data-options="
    url: '/portal/radius',
    method: 'get',
    multiple: false,
    valueField:'id',
    textField:'text',
    onSelect: respond
    ">
    -->
    <select id="radius" class="form-control">
      <option value=1>Within 1 Mile</option>
      <option value=3>Within 3 Miles</option>
      <option value=5 selected>Within 5 Miles</option>
      <option value=10>Within 10 Miles</option>
    </select>
    <select id="gender" class="form-control">
      <option value='m'>Male</option>
      <option value='f' selected>Female</option>
    </select>
    <select id="occupation" class="form-control">
      <% @occupation_options.each do |item| %>
      	<option value="<%= item %>"><%= item %></option>
      <% end %>
    </select>
    <select id="ethnicity" class="form-control">
      <% @ethnicity_options.each do |item| %>
        <option value="<%= item %>"><%= item %></option>
      <% end %>
    </select>
    <select id="education" class="form-control">
      <% @education_options.each do |item| %>
        <option value="<%= item %>"><%= item %></option>
      <% end %>
    </select>
    <select id="contribute" class="form-control">
      <% @contribute_options.each do |item| %>
        <option value="<%= item %>"><%= item %></option>
      <% end %>
    </select>
    <select id="sports" class="form-control">
      <% @sports_options.each do |item| %>
        <option value="<%= item %>"><%= item %></option>
      <% end %>
    </select>
    <select id="collector" class="form-control">
      <% @collector_options.each do |item| %>
        <option value="<%= item %>"><%= item %></option>
      <% end %>
    </select>
    <input type="button" class="btn btn-default" onclick="respond()" value="Update">
  </div>
</form>
</div>
<div id="mapid" class="mapclass" style="height:90%"></div></div>

<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
<script>

/*
  $("#radius").combobox(
    {
      multiple: false,
      valueField:'id',
      textField:'text',
      data: [
        {"id": 1, "text": "Within 1 Mile"},
        {"id": 3, "text": "Within 3 Miles"},
        {"id": 5, "text": "Within 5 Miles"},
        {"id": 10, "text": "Within 10 Miles"}
      ],
      onSelect: function(record) {
        respond();
      }
    }
  );
  $("#contribute").combobox({multiple: true});
  $("#sports").combobox({multiple: true});
  $("#collector").combobox({multiple: true});
  */

  function update() {

  }

  function respond() {

      $.get("/backroom/search",
      {
        radius: $("#radius").val()

        /*
        gender: $("#gender").val(),
        occupation: $("occupation").val(),
        ethnicity: $("#ethnicity").val(),
        education: $("#education").val(),
        contribution: $("#contribution").val(),
        sports: $("#sports").val(),
        collector: $("#collector").val()
        radius: $("#radius").combobox('getValue'),
        gender: $("#gender").combobox('getValue'),
        occupation: $("occupation").combobox('getValue'),
        ethnicity: $("#ethnicity").combobox('getValue'),
        education: $("#education").combobox('getValue'),
        contribution: $("#contribution").combobox('getValues'),
        sports: $("#sports").combobox('getValues'),
        collector: $("#collector").combobox('getValues')
        */
      },
      function(data, status) {
        //alert(data);
        var result = JSON.parse(data);
        window.radius = result['radius'];
        //alert(rad)
        //window.mymap.removeLayer(window.perimeter);
        redrawPerimeter(window.radius);
        //window.mymap.setZoom(radZoomLookup(rad));
        window.mymap.setView(new L.LatLng(window.myLat, window.myLng), radZoomLookup[window.radius]);

        var pins = result['pins'];
        clearMarkers();
        setMarkers(pins);

      }
    );

  } // end update

  function clearMarkers() {
    for (var i = 0; i < window.markers.length; i++) {
      window.mymap.removeLayer(window.markers[i]);
    }
    window.markers = [];
  }

  function setMarkers(thePins) {
    for (var i = 0; i < thePins.length; i++) {
      var pin = thePins[i];
      if (pin.samp == true) {
        var marcker = L.marker([pin.lat, pin.lng]).addTo(window.mymap)
          .bindPopup("<b>" + pin.name + "</b><br>" + pin.desc);
        window.markers.push(marcker);
      }
    }
  }

  function recenter(lat, lng) {
    window.myLat = lat;
    window.myLng = lng;
    window.mymap.panTo(new L.LatLng(lat, lng));
    redrawPerimeter(window.radius);
  }

  function drawPerimeter(r) {
    window.perimeter = L.circle([myLat, myLng], milesToMeters(r), {
      color: '#aa0000',
      fillColor: '#f03',
      fillOpacity: 0.07
    })
    window.perimeter.addTo(mymap);
  }

  function redrawPerimeter(r) {
    window.mymap.removeLayer(window.perimeter);
    drawPerimeter(r);
  }

  function setZoomFactor(z) {
    window.mymap.setView([myLat, myLng], z);
  }

  function milesToMeters(miles) {
    return miles * 1609.34;
  }

  var radZoomLookup = {
    1: 14,
    3: 13,
    5: 12,
    10: 11
  };

  function findZoom(r) {
    var z = 12;
    if (r == 1) {
      z = 14;
    } else if (r == 3) {
      z = 13;
    } else if (r == 5) {
      z = 12;
    } else if (r == 10) {
      z = 11;
    }
    return z;
  }


  window.markers = [];
  window.radius = $("#radius").val();
  window.zoom = radZoomLookup[window.radius];

  window.myLat = 34.142750;
  window.myLng = -118.141953;
  window.mymap = L.map('mapid').setView([window.myLat, window.myLng], window.zoom);
  window.mymap.doubleClickZoom.disable();

  // public example: pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw
  // public
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoid2Vic2hhbyIsImEiOiJjaXRubnR3OXUwNTlkMm5uMGFsb2p2eTYwIn0.obrOXE4ca0517hY61rJA7Q', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
      '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
      'Imagery © <a href="http://mapbox.com">Mapbox</a>',
    id: 'mapbox.streets'
  }).addTo(window.mymap);

  drawPerimeter(window.radius);

  /*
  L.marker([window.myLat, window.myLng]).addTo(window.mymap)
    .bindPopup("<b>Hello world!</b><br />I am a popup.").openPopup();

  L.polygon([
    [51.509, -0.08],
    [51.503, -0.06],
    [51.51, -0.047]
  ]).addTo(mymap).bindPopup("I am a polygon.");
*/

  var popup = L.popup();

  function balloon(e) {
    popup
      .setLatLng(e.latlng)
      .setContent("You clicked the map at " + e.latlng.toString())
      .openOn(window.mymap);
  }

  function onMapClick(e) {
    //balloon(e);
  }

  function onMapDblClick(e) {
    recenter(e.latlng.lat, e.latlng.lng);
  }

  //mymap.on('click', onMapClick);
  mymap.on('dblclick', onMapDblClick);

</script>
